{% extends '@App/layout.html.twig' %}

{% block content %}
	<div id="movielist"
		data-list="{{ path('alala_movie_bundle.movie.search') }}"
		data-add=""
		data-remove=""
		data-show="{{ path('alala_movie_bundle.movie.show', {id: 0}) }}"
	>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('build/movieTable.js') }}"></script>
{% endblock %}